<html>
    <head>
        <title>Welcome to {{ http_host }} !</title>
    <style>
        .text {
         text-align:  center;
        }
    </style>
    </head>
    <body>
        <h1 class="text">The {{ http_host }} virtual host is working now!</h1>
        <h2 class="text">You can proceed  with further configuration</h2>
    <body>
</html>
