<html>
    <head>
        <title>Welcome to {{ http_host }} !</title>
    </head>
    <body>
        <h1>The {{ http_host }} virtual host is working now!</h1>
        <h2>You can proceed  with further configuration</h2>
    <body>
</html>
